In [1]:
import requests
import pandas as pd
import numpy as np
import functools 
import math
import json

https://github.com/NYCPlanning/labs-factfinder-api/blob/develop/special-calculations/data/bins.js

In [204]:
# mdage = {'popu5': [0, 5],
#  'pop5t9': [5, 9],
#  'pop10t14': [10, 14],
#  'pop15t19': [15, 19],
#  'pop20t24': [20, 24],
#  'pop25t29': [25, 29],
#  'pop30t34': [30, 34],
#  'pop35t39': [35, 39],
#  'pop40t44': [40, 44],
#  'pop45t49': [45, 49],
#  'pop50t54': [50, 54],
#  'pop55t59': [55, 59],
#  'pop60t64': [60, 64],
#  'pop65t69': [65, 69],
#  'pop70t74': [70, 74],
#  'pop75t79': [75, 79],
#  'pop80t84': [80, 84],
#  'pop85pl': [85, 115]}

design_factor = {
    'mdage':1.1,
    'mdhhinc':1.5, 
    'mdfaminc':1.5,
    'mdnfinc':1.5,
    'mdewrk':1.6, 
    'mdemftwrk': 1.6,
    'mdefftwrk':1.6,
    'mdrms':1.5,
    'mdvl':1.4,
    'mdgr':1.6
}

mdage = {'mdpop0t4': [0, 4.9999],
    'mdpop5t9': [5, 9.9999],
    'mdpop10t14': [10, 14.9999],
    'mdpop15t17': [15, 17.9999],
    'mdpop18t19': [18, 19.9999],
    'mdpop20': [20, 20.9999],
    'mdpop21': [21, 21.9999],
    'mdpop22t24': [22, 24.9999],
    'mdpop25t29': [25, 29.9999],
    'mdpop30t34': [30, 34.9999],
    'mdpop35t39': [35, 39.9999],
    'mdpop40t44': [40, 44.9999],
    'mdpop45t49': [45, 49.9999],
    'mdpop50t54': [50, 54.9999],
    'mdpop55t59': [55, 59.9999],
    'mdpop60t61': [60, 61.9999],
    'mdpop62t64': [62, 64.9999],
    'mdpop65t66': [65, 66.9999],
    'mdpop67t69': [67, 69.9999],
    'mdpop70t74': [70, 74.9999],
    'mdpop75t79': [75, 79.9999],
    'mdpop80t84': [80, 84.9999],
    'mdpop85pl': [85, 115]}

mdhhinc = {'mdhhiu10': [0, 9999],
 'mdhhi10t14': [10000, 14999],
 'mdhhi15t19': [15000, 19999],
 'mdhhi20t24': [20000, 24999],
 'mdhhi25t29': [25000, 29999],
 'mdhhi30t34': [30000, 34999],
 'mdhhi35t39': [35000, 39999],
 'mdhhi40t44': [40000, 44999],
 'mdhhi45t49': [45000, 49999],
 'mdhhi50t59': [50000, 59999],
 'mdhhi60t74': [60000, 74999],
 'mdhhi75t99': [75000, 99999],
 'mdhi100t124': [100000, 124999],
 'mdhi125t149': [125000, 149999],
 'mdhi150t199': [150000, 199999],
 'mdhhi200pl': [200000, 9999999]}

mdfaminc = {
 'mdfamiu10': [0, 9999],
 'mdfami10t14': [10000, 14999],
 'mdfami15t19': [15000, 19999],
 'mdfami20t24': [20000, 24999],
 'mdfami25t29': [25000, 29999],
 'mdfami30t34': [30000, 34999],
 'mdfami35t39': [35000, 39999],
 'mdfami40t44': [40000, 44999],
 'mdfami45t49': [45000, 49999],
 'mdfami50t59': [50000, 59999],
 'mdfami60t74': [60000, 74999],
 'mdfami75t99': [75000, 99999],
 'mdfi100t124': [100000, 124999],
 'mdfi125t149': [125000, 149999],
 'mdfi150t199': [150000, 199999],
 'mdfami200pl': [200000, 9999999]}

mdnfinc = {'nfmiu10': [0, 9999],
 'nfmi10t14': [10000, 14999],
 'nfmi15t19': [15000, 19999],
 'nfmi20t24': [20000, 24999],
 'nfmi25t29': [25000, 29999],
 'nfmi30t34': [30000, 34999],
 'nfmi35t39': [35000, 39999],
 'nfmi40t44': [40000, 44999],
 'nfmi45t49': [45000, 49999],
 'nfmi50t59': [50000, 59999],
 'nfmi60t74': [60000, 74999],
 'nfmi75t99': [75000, 99999],
 'nf100t124': [100000, 124999],
 'nf125t149': [125000, 149999],
 'nf150t199': [150000, 199999],
 'nfi200pl': [200000, 9999999]}

mdewrk = {'ernu2pt5k': [0, 2499],
 'ern2pt5t5': [2500, 4999],
 'ern5t7pt5': [5000, 7499],
 'e7pt5t10': [7500, 9999],
 'e10t12pt5': [10000, 12499],
 'e12pt5t15': [12500, 14999],
 'e15t17pt5': [15000, 17499],
 'e17pt5t20': [17500, 19999],
 'e20t22pt5': [20000, 22499],
 'e22pt5t25': [22500, 24999],
 'ern25t30': [25000, 29999],
 'ern30t35': [30000, 34999],
 'ern35t40': [35000, 39999],
 'ern40t45': [40000, 44999],
 'ern45t50': [45000, 49999],
 'ern50t55': [50000, 54999],
 'ern55t65': [55000, 64999],
 'ern65t75': [65000, 74999],
 'ern75t100': [75000, 99999],
 'ern100pl': [100000, 250000]}

mdemftwrk = {'mftu2pt5k': [0, 2499],
 'mft2p5t5': [2500, 4999],
 'mft5t7p5': [5000, 7499],
 'mft7p5t10': [7500, 9999],
 'mf10t12p5': [10000, 12499],
 'mf12p5t15': [12500, 14999],
 'mf15t17p5': [15000, 17499],
 'mf17p5t20': [17500, 19999],
 'mf20t22p5': [20000, 22499],
 'mf22p5t25': [22500, 24999],
 'mft25t30': [25000, 29999],
 'mft30t35': [30000, 34999],
 'mft35t40': [35000, 39999],
 'mft40t45': [40000, 44999],
 'mft45t50': [45000, 49999],
 'mft50t55': [50000, 54999],
 'mft55t65': [55000, 64999],
 'mft65t75': [65000, 74999],
 'mft75t100': [75000, 99999],
 'mft100pl': [100000, 250000]}

mdefftwrk= {'fftu2pt5k': [0, 2499],
 'fft2p5t5': [2500, 4999],
 'fft5t7p5': [5000, 7499],
 'fft7p5t10': [7500, 9999],
 'ff10t12p5': [10000, 12499],
 'ff12p5t15': [12500, 14999],
 'ff15t17p5': [15000, 17499],
 'ff17p5t20': [17500, 19999],
 'ff20t22p5': [20000, 22499],
 'ff22p5t25': [22500, 24999],
 'fft25t30': [25000, 29999],
 'fft30t35': [30000, 34999],
 'fft35t40': [35000, 39999],
 'fft40t45': [40000, 44999],
 'fft45t50': [45000, 49999],
 'fft50t55': [50000, 54999],
 'fft55t65': [55000, 64999],
 'fft65t75': [65000, 74999],
 'fft75t100': [75000, 99999],
 'fft100pl': [100000, 250000]}

mdvl = {'ovlu10': [0, 9999],
 'ovl10t14': [10000, 14999],
 'ovl15t19': [15000, 19999],
 'ovl20t24': [20000, 24999],
 'ovl25t29': [25000, 29999],
 'ovl30t34': [30000, 34999],
 'ovl35t39': [35000, 39999],
 'ovl40t49': [40000, 49999],
 'ovl50t59': [50000, 59999],
 'ovl60t69': [60000, 69999],
 'ovl70t79': [70000, 79999],
 'ovl80t89': [80000, 89999],
 'ovl90t99': [90000, 99999],
 'ov100t124': [100000, 124999],
 'ov125t149': [125000, 149999],
 'ov150t174': [150000, 174999],
 'ov175t199': [175000, 199999],
 'ov200t249': [200000, 249999],
 'ov250t299': [250000, 299999],
 'ov300t399': [300000, 399999],
 'ov400t499': [400000, 499999],
 'ov500t749': [500000, 749999],
 'ov750t999': [750000, 999999],
 'ov1t149m': [1000000, 1499999],
 'ov150t199m': [1500000, 1999999],
 'ov2milpl': [2000000, 5000000]}

mdgr = {'ru100': [0, 99],
 'r100t149': [100, 149],
 'r150t199': [150, 199],
 'r200t249': [200, 249],
 'r250t299': [250, 299],
 'r300t349': [300, 349],
 'r350t399': [350, 399],
 'r400t449': [400, 449],
 'r450t499': [450, 499],
 'r500t549': [500, 549],
 'r550t599': [550, 599],
 'r600t649': [600, 649],
 'r650t699': [650, 699],
 'r700t749': [700, 749],
 'r750t799': [750, 799],
 'r800t899': [800, 899],
 'r900t999': [900, 999],
 'r1kt1249': [1000, 1249],
 'r1250t1p5': [1250, 1499],
 'r1p5t1999': [1500, 1999],
 'r2kt2499': [2000, 2499],
 'r2p5t2999': [2500, 2999],
 'r3kt3499': [3000, 3499],
 'r3500pl': [3500, 9000]}

mdrms = {'rms1': [0, 1499],
 'rms2': [1500, 2499],
 'rms3': [2500, 3499],
 'rms4': [3500, 4499],
 'rms5': [4500, 5499],
 'rms6': [5500, 6499],
 'rms7': [6500, 7499],
 'rms8': [7500, 8499],
 'rms9pl': [8500, 9000]}

In [159]:
def get_median(buckets, row):
    ordered = list(buckets.keys())
    orderedE = [i+'e' for i in ordered]
    N = row[orderedE].sum()
    C = 0
    i = 0
    print(row[orderedE])
    while C <= N/2 and i<=len(buckets.keys())-1:
        C += int(row[orderedE[i]])
        i += 1
    i = i-1
    if i == 0:
        median = list(buckets.values())[0][1]
    elif C == 0: 
        median =0
    elif i == len(buckets.keys())-1:
        median = list(buckets.values())[-1][1]
    else: 
        C = C - int(row[orderedE[i]])
        L = buckets[ordered[i]][0]
        F = int(row[orderedE[i]])
        W = buckets[ordered[i]][1] - buckets[ordered[i]][0]
        median = L + (N/2 - C)*W/F
    return median

In [66]:
def get_median_moe(buckets, row, DF=1.1):
    ordered = list(buckets.keys())
    orderedE = [i+'e' for i in ordered]
    B = row[orderedE].sum()
    if B == 0: 
        return np.nan
    else:
        cumm_dist = list(np.cumsum(row[orderedE])/B*100)

        se_50 = DF*(((93/(7*B))*2500))**0.5
        
        if se_50 >= 50:
            return np.nan
        else: 
            p_lower = 50 - se_50
            p_upper = 50 + se_50
            
            lower_bin = min([cumm_dist.index(i) for i in cumm_dist if i > p_lower])
            upper_bin = min([cumm_dist.index(i) for i in cumm_dist if i > p_upper])
            
            if lower_bin >= len(ordered)-1 or upper_bin >= len(ordered)-1:
                return np.nan
            else:
                if lower_bin == upper_bin:
                    A1 = min(buckets[ordered[lower_bin]])
                    A2 = min(buckets[ordered[lower_bin+1]])
                    C1 = cumm_dist[lower_bin-1]
                    C2 = cumm_dist[lower_bin]
                    lowerbound = (p_lower - C1)*(A2-A1)/(C2-C1) + A1 
                    upperbound = (p_upper - C1)*(A2-A1)/(C2-C1) + A1

                else:
                    A1_l = min(buckets[ordered[lower_bin]])
                    A2_l = min(buckets[ordered[lower_bin+1]])
                    C1_l = cumm_dist[lower_bin-1]
                    C2_l = cumm_dist[lower_bin]

                    A1_u = min(buckets[ordered[upper_bin]])
                    A2_u = min(buckets[ordered[upper_bin+1]])
                    C1_u = cumm_dist[upper_bin-1]
                    C2_u = cumm_dist[upper_bin]

                    lowerbound = (p_lower - C1_l)*(A2_l-A1_l)/(C2_l-C1_l) + A1_l 
                    upperbound = (p_upper - C1_u)*(A2_u-A1_u)/(C2_u-C1_u) + A1_u

                return (upperbound - lowerbound)*1.645/2

# Demo
+ when calculating median MOE, what do I do when the p_lower is lower than the smallest possible value (suppose we get a negative p_lower for calculating mdage) ---> go with 0
+

In [151]:
df = pd.read_csv('data/econ_final.csv', index_col=False)
df.columns = map(str.lower, df.columns)

In [223]:
df['geoid'] = df['geo_id'].apply(format_geoid)
df['geotype'] = df['geo_id'].apply(assign_geotype)
df['geogname'] = df.apply(lambda row: assign_geogname(row['geotype'],row['name'],row['geoid']),  axis=1)

In [144]:
[i for i in set(list(map(lambda x: x[:-1], df.columns))) if 'geo' in i]

['geo_i', 'geognam', 'geoi', 'geotyp']

In [147]:
df.columns

Index(['pop25t29e', 'pop25t29m', 'pop25t29p', 'pop25t29z', 'pop25t29c',
       'pop40t44e', 'pop40t44m', 'pop40t44p', 'pop40t44z', 'pop40t44c',
       ...
       'asn1rce', 'asn1rcm', 'asn1rcp', 'asn1rcz', 'asn1rcc', 'geo_id', 'name',
       'geoid', 'geotype', 'geogname'],
      dtype='object', length=795)

In [136]:
df.loc[2451, ['geogname']].to_list()[0]

'NYC-Staten Island Community District 3--Tottenville, Great Kills & Annadale PUMA; New York'

In [102]:
df.loc[df.name.str.contains('New York'), ['geo_id', 'name']]

                geo_id                                               name
195     0500000US36095                         Schoharie County, New York
196     0500000US36005                             Bronx County, New York
197     0500000US36067                          Onondaga County, New York
198     0500000US36035                            Fulton County, New York
199     0500000US36019                           Clinton County, New York
200     0500000US36099                            Seneca County, New York
201     0500000US36083                        Rensselaer County, New York
202     0500000US36079                            Putnam County, New York
203     0500000US36033                          Franklin County, New York
204     0500000US36043                          Herkimer County, New York
205     0500000US36069                           Ontario County, New York
206     0500000US36081                            Queens County, New York
207     0500000US36101                           Steuben County, New York
208     0500000US36041                          Hamilton County, New York
209     0500000US36115                        Washington County, New York
210     0500000US36013                        Chautauqua County, New York
211     0500000US36047                             Kings County, New York
212     0500000US36061                          New York County, New York
213     0500000US36107                             Tioga County, New York
214     0500000US36011                            Cayuga County, New York
215     0500000US36073                           Orleans County, New York
216     0500000US36091                          Saratoga County, New York
217     0500000US36087                          Rockland County, New York
218     0500000US36021                          Columbia County, New York
219     0500000US36049                             Lewis County, New York
220     0500000US36063                           Niagara County, New York
221     0500000US36119                       Westchester County, New York
222     0500000US36025                          Delaware County, New York
223     0500000US36031                             Essex County, New York
224     0500000US36057                        Montgomery County, New York
...                ...                                                ...
2450  7950000US3603808  NYC-Manhattan Community District 6--Murray Hil...
2451  7950000US3603901  NYC-Staten Island Community District 3--Totten...
2452  7950000US3603902  NYC-Staten Island Community District 2--New Sp...
2453  7950000US3603702  NYC-Bronx Community District 12--Wakefield, Wi...
2454  7950000US3603706  NYC-Bronx Community District 7--Bedford Park, ...
2455  7950000US3603705  NYC-Bronx Community District 3 & 6--Belmont, C...
2456  7950000US3603708  NYC-Bronx Community District 4--Concourse, Hig...
2457  7950000US3603704  NYC-Bronx Community District 11--Pelham Parkwa...
2458  7950000US3603710  NYC-Bronx Community District 1 & 2--Hunts Poin...
2459  7950000US3603709  NYC-Bronx Community District 9--Castle Hill, C...
2460  7950000US3603701  NYC-Bronx Community District 8--Riverdale, Fie...
2461  7950000US3603703  NYC-Bronx Community District 10--Co-op City, P...
2462  7950000US3603707  NYC-Bronx Community District 5--Morris Heights...
2463  7950000US3604013  NYC-Brooklyn Community District 10--Bay Ridge ...
2464  7950000US3604012  NYC-Brooklyn Community District 7--Sunset Park...
2465  7950000US3604005  NYC-Brooklyn Community District 6--Park Slope,...
2466  7950000US3604018  NYC-Brooklyn Community District 13--Brighton B...
2467  7950000US3604004  NYC-Brooklyn Community District 2--Brooklyn He...
2468  7950000US3604009  NYC-Brooklyn Community District 18--Canarsie &...
2469  7950000US3604016  NYC-Brooklyn Community District 15--Sheepshead...
2470  7950000US3604017  NYC-Brooklyn Community District 11--Bensonhurs...
2471  7950000US3604008  NYC-Brooklyn Community District 5--East New Yo...
2472  7950000US3604014  NYC-Brooklyn Community District 12--Borough Pa...
2473  7950000US3604006  NYC-Brooklyn Community District 8--Crown Heigh...
2474  7950000US3604015  NYC-Brooklyn Community District 14--Flatbush &...
2475  7950000US3604011  NYC-Brooklyn Community District 9--Crown Heigh...
2476  7950000US3604106  NYC-Queens Community District 8--Briarwood, Fr...
2477  7950000US3604112  NYC-Queens Community District 12--Jamaica, Hol...
2478  7950000US3604113  NYC-Queens Community District 10--Howard Beach...
2479  7950000US3604105  NYC-Queens Community District 13--Queens Villa...

[2285 rows x 2 columns]

In [68]:
def get_c(e, m): 
    if e == 0:
        return np.nan
    else:
        return m/1.645/e*100

In [69]:
df['mdagee'] = df.apply(lambda row: get_median(mdage, row), axis=1)
df['mdagem'] = df.apply(lambda row: get_median_moe(mdage, row, DF=design_factor['mdage']), axis=1)
df['mdagez'] = np.nan
df['mdagep'] = np.nan
df['mdagec'] = df.apply(lambda row: get_c(row['mdagee'], row['mdagem']), axis=1)

In [71]:
df[['geo_id','name', 'mdagec','mdagee', 'mdagem']]

,geo_id,name,mdagec,mdagee,mdagem
0,BX31,BX31,1.934730,41.905422,1.333695
1,BX05,BX05,1.583155,31.246894,0.813760
2,BX06,BX06,2.433943,25.420074,1.017778
3,BX07,BX07,1.939661,35.991236,1.148388
4,BX01,BX01,2.301918,27.706599,1.049154
5,BX13,BX13,1.395472,44.774564,1.027823
6,BX75,BX75,2.755759,31.250697,1.416664
7,BX14,BX14,1.670018,33.054537,0.908068
8,BX17,BX17,2.281830,31.439213,1.180106
9,BX03,BX03,2.785343,35.598987,1.631106
10,BX40,BX40,2.012399,28.720021,0.950746
11,BX26,BX26,1.622408,30.819504,0.822530
12,BX27,BX27,2.338971,30.750861,1.183172
13,BX30,BX30,1.955297,32.904107,1.058349
14,BX33,BX33,2.378092,31.426197,1.229381
15,BX34,BX34,1.813113,29.185431,0.870476
16,BX35,BX35,2.103212,32.025549,1.108015
17,BX39,BX39,1.866163,29.781812,0.914253
18,BX41,BX41,1.766771,30.023123,0.872574
19,BX22,BX22,2.509755,42.654089,1.760994
20,BX43,BX43,1.619763,32.733279,0.872181
21,BX99,BX99,13.299453,31.704511,6.936186
22,BX46,BX46,1.923762,38.890820,1.230735
23,BX10,BX10,2.505877,43.241944,1.782505
24,BX49,BX49,2.019436,36.285628,1.205399
25,BX98,BX98,2.553549,33.391731,1.402649
26,BX52,BX52,1.709974,40.168176,1.129894
27,BX55,BX55,1.892855,31.994157,0.996217
28,BX09,BX09,2.006485,35.173362,1.160956
29,BX29,BX29,2.199255,41.008574,1.483598
...,...,...,...,...,...
2450,7950000US3603808,NYC-Manhattan Community District 6--Murray Hil...,1.003102,37.124584,0.612594
2451,7950000US3603901,NYC-Staten Island Community District 3--Totten...,0.806364,41.565293,0.551351
2452,7950000US3603902,NYC-Staten Island Community District 2--New Sp...,0.946952,41.680914,0.649278
2453,7950000US3603702,"NYC-Bronx Community District 12--Wakefield, Wi...",1.164297,36.678375,0.702489
2454,7950000US3603706,"NYC-Bronx Community District 7--Bedford Park, ...",0.981319,32.151280,0.519008
2455,7950000US3603705,"NYC-Bronx Community District 3 & 6--Belmont, C...",0.906113,29.532755,0.440202
2456,7950000US3603708,"NYC-Bronx Community District 4--Concourse, Hig...",1.048020,31.874031,0.549506
2457,7950000US3603704,NYC-Bronx Community District 11--Pelham Parkwa...,1.073074,36.850922,0.650495
2458,7950000US3603710,NYC-Bronx Community District 1 & 2--Hunts Poin...,1.027932,30.332332,0.512904
2459,7950000US3603709,"NYC-Bronx Community District 9--Castle Hill, C...",0.926546,34.676699,0.528531
2460,7950000US3603701,"NYC-Bronx Community District 8--Riverdale, Fie...",1.255907,37.893293,0.782863
2461,7950000US3603703,"NYC-Bronx Community District 10--Co-op City, P...",0.993744,42.677892,0.697659
2462,7950000US3603707,NYC-Bronx Community District 5--Morris Heights...,1.018579,29.851976,0.500188
2463,7950000US3604013,NYC-Brooklyn Community District 10--Bay Ridge ...,1.034983,39.927400,0.679783
2464,7950000US3604012,NYC-Brooklyn Community District 7--Sunset Park...,0.815588,34.072799,0.457135
2465,7950000US3604005,"NYC-Brooklyn Community District 6--Park Slope,...",0.743320,35.845906,0.438310
2466,7950000US3604018,NYC-Brooklyn Community District 13--Brighton B...,1.162602,43.801412,0.837694
2467,7950000US3604004,NYC-Brooklyn Community District 2--Brooklyn He...,0.604618,34.553425,0.343667
2468,7950000US3604009,NYC-Brooklyn Community District 18--Canarsie &...,0.969994,38.500699,0.614333
2469,7950000US3604016,NYC-Brooklyn Community District 15--Sheepshead...,1.051989,40.067755,0.693381
2470,7950000US3604017,NYC-Brooklyn Community District 11--Bensonhurs...,0.844662,38.615412,0.536549
2471,7950000US3604008,NYC-Brooklyn Community District 5--East New Yo...,1.017112,33.923557,0.567592
2472,7950000US3604014,NYC-Brooklyn Community District 12--Borough Pa...,1.171352,28.077002,0.541008
2473,7950000US3604006,NYC-Brooklyn Community District 8--Crown Heigh...,0.781932,34.450719,0.443132
2474,7950000US3604015,NYC-Brooklyn Community District 14--Flatbush &...,0.950200,34.102671,0.533051
2475,7950000US3604011,NYC-Brooklyn Community District 9--Crown Heigh...,1.094870,34.927505,0.629066
2476,7950000US3604106,"NYC-Queens Community District 8--Briarwood, Fr...",1.103964,37.970910,0.689560
2477,7950000US3604112,"NYC-Queens Community District 12--Jamaica, Hol...",0.863704,36.461959,0.518049
2478,7950000US3604113,NYC-Queens Community District 10--Howard Beach...,1.019352,39.220723,0.657667
2479,7950000US3604105,NYC-Queens Community District 13--Queens Villa...,0.909830,40.337503,0.603720

# Economics

In [155]:
df = pd.read_csv('data/econ_final.csv', index_col=False)

In [156]:
df.columns = map(str.lower, df.columns)
df['geoid'] = df['geo_id'].apply(format_geoid)
df['geotype'] = df['geo_id'].apply(assign_geotype)
df['geogname'] = df.apply(lambda row: assign_geogname(row['geotype'],row['name'],row['geoid']),  axis=1)

In [150]:
df['mdhhince'] = df.apply(lambda row: get_median(mdhhinc, row), axis=1)
df['mdhhincm'] = df.apply(lambda row: get_median_moe(mdhhinc, row, DF=design_factor['mdhhinc']), axis=1)
df['mdhhincz'] = np.nan
df['mdhhincp'] = np.nan

In [203]:
df[df.geoid=='1019702'].apply(lambda row: get_median(mdhhinc, row), axis=1)

56

2361    62008.794643
dtype: float64

In [167]:
df['mdfamince'] = df.apply(lambda row: get_median(mdfaminc, row), axis=1)
df['mdfamincm'] = df.apply(lambda row: get_median_moe(mdfaminc, row, DF=design_factor['mdfaminc']), axis=1)
df['mdfamincz'] = np.nan
df['mdfamincp'] = np.nan

Census Tract 561, Queens County, New York se50 58 plower -8 phigher 108
Census Tract 607.01, Queens County, New York se50 137 plower -87 phigher 187
Census Tract 1283, Queens County, New York se50 79 plower -29 phigher 129
Census Tract 50, Queens County, New York se50 73 plower -23 phigher 123
Census Tract 613.02, Queens County, New York se50 97 plower -47 phigher 147
Census Tract 319.01, Richmond County, New York se50 10 plower 40 phigher 60
Census Tract 228, Richmond County, New York se50 73 plower -23 phigher 123
Census Tract 284, Bronx County, New York se50 76 plower -26 phigher 126
Census Tract 276, Bronx County, New York se50 86 plower -36 phigher 136
Census Tract 435, Bronx County, New York se50 44 plower 6 phigher 94
Census Tract 110, Bronx County, New York se50 45 plower 5 phigher 95
Census Tract 24, Bronx County, New York se50 52 plower -2 phigher 102
Census Tract 702.02, Kings County, New York se50 97 plower -47 phigher 147
Census Tract 197.01, New York County, New York se50 31 plower 19 phigher 81
Census Tract 94, New York County, New York se50 103 plower -53 phigher 153
Census Tract 119, New York County, New York se50 112 plower -62 phigher 162
Census Tract 96, New York County, New York se50 61 plower -11 phigher 111
Census Tract 217.03, New York County, New York se50 137 plower -87 phigher 187

In [168]:
df['mdnfince'] = df.apply(lambda row: get_median(mdnfinc, row), axis=1)
df['mdnfincm'] = df.apply(lambda row: get_median_moe(mdnfinc, row, DF=design_factor['mdnfinc']), axis=1)
df['mdnfincz'] = np.nan
df['mdnfincp'] = np.nan

BK85 se50 5 plower 45 phigher 55
QN99 se50 60 plower -10 phigher 110
Census Tract 610, Queens County, New York se50 28 plower 22 phigher 78
Census Tract 561, Queens County, New York se50 122 plower -72 phigher 172
Census Tract 1339, Queens County, New York se50 35 plower 15 phigher 85
Census Tract 846.02, Queens County, New York se50 60 plower -10 phigher 110
Census Tract 1187, Queens County, New York se50 21 plower 29 phigher 71
Census Tract 1267, Queens County, New York se50 19 plower 31 phigher 69
Census Tract 361, Queens County, New York se50 24 plower 26 phigher 74
Census Tract 538, Queens County, New York se50 63 plower -13 phigher 113
Census Tract 1567, Queens County, New York se50 30 plower 20 phigher 80
Census Tract 150, Queens County, New York se50 38 plower 12 phigher 88
Census Tract 1205, Queens County, New York se50 15 plower 35 phigher 65
Census Tract 592, Queens County, New York se50 33 plower 17 phigher 83
Census Tract 34, Queens County, New York se50 26 plower 24 phigher 76
Census Tract 452, Queens County, New York se50 63 plower -13 phigher 113
Census Tract 40.02, Queens County, New York se50 41 plower 9 phigher 91
Census Tract 1451.01, Queens County, New York se50 40 plower 10 phigher 90
Census Tract 154, Queens County, New York se50 29 plower 21 phigher 79
Census Tract 506, Queens County, New York se50 39 plower 11 phigher 89
Census Tract 446.02, Queens County, New York se50 14 plower 36 phigher 64
Census Tract 840, Queens County, New York se50 17 plower 33 phigher 67
Census Tract 607.01, Queens County, New York se50 76 plower -26 phigher 126
Census Tract 1203, Queens County, New York se50 37 plower 13 phigher 87
Census Tract 612, Queens County, New York se50 32 plower 18 phigher 82
Census Tract 508, Queens County, New York se50 24 plower 26 phigher 74
Census Tract 1283, Queens County, New York se50 76 plower -26 phigher 126
Census Tract 50, Queens County, New York se50 73 plower -23 phigher 123
Census Tract 6, Queens County, New York se50 22 plower 28 phigher 72
Census Tract 266, Queens County, New York se50 14 plower 36 phigher 64
Census Tract 98, Queens County, New York se50 33 plower 17 phigher 83
Census Tract 176, Queens County, New York se50 26 plower 24 phigher 76
Census Tract 972.02, Queens County, New York se50 16 plower 34 phigher 66
Census Tract 260, Queens County, New York se50 22 plower 28 phigher 72
Census Tract 465, Queens County, New York se50 18 plower 32 phigher 68
Census Tract 110, Queens County, New York se50 32 plower 18 phigher 82
Census Tract 566, Queens County, New York se50 47 plower 3 phigher 97
Census Tract 1159, Queens County, New York se50 18 plower 32 phigher 68
Census Tract 482, Queens County, New York se50 39 plower 11 phigher 89
Census Tract 44.01, Queens County, New York se50 26 plower 24 phigher 76
Census Tract 190, Queens County, New York se50 40 plower 10 phigher 90
Census Tract 1571.02, Queens County, New York se50 29 plower 21 phigher 79
Census Tract 907, Queens County, New York se50 25 plower 25 phigher 75
Census Tract 156, Queens County, New York se50 23 plower 27 phigher 73
Census Tract 262, Queens County, New York se50 34 plower 16 phigher 84
Census Tract 178, Queens County, New York se50 29 plower 21 phigher 79
Census Tract 219, Queens County, New York se50 137 plower -87 phigher 187
Census Tract 456, Queens County, New York se50 39 plower 11 phigher 89
Census Tract 443.01, Queens County, New York se50 14 plower 36 phigher 64
Census Tract 918, Queens County, New York se50 158 plower -108 phigher 208
Census Tract 142.02, Queens County, New York se50 28 plower 22 phigher 78
Census Tract 96, Queens County, New York se50 28 plower 22 phigher 78
Census Tract 120, Queens County, New York se50 33 plower 17 phigher 83
Census Tract 208, Queens County, New York se50 29 plower 21 phigher 79
Census Tract 114, Queens County, New York se50 52 plower -2 phigher 102
Census Tract 502.02, Queens County, New York se50 39 plower 11 phigher 89
Census Tract 690, Queens County, New York se50 25 plower 25 phigher 75
Census Tract 231, Richmond County, New York se50 17 plower 33 phigher 67
Census Tract 319.02, Richmond County, New York se50 14 plower 36 phigher 64
Census Tract 323, Richmond County, New York se50 27 plower 23 phigher 77
Census Tract 40, Richmond County, New York se50 8 plower 42 phigher 58
Census Tract 133.02, Richmond County, New York se50 20 plower 30 phigher 70
Census Tract 20.02, Richmond County, New York se50 13 plower 37 phigher 63
Census Tract 207, Richmond County, New York se50 12 plower 38 phigher 62
Census Tract 319.01, Richmond County, New York se50 16 plower 34 phigher 66
Census Tract 133.01, Richmond County, New York se50 19 plower 31 phigher 69
Census Tract 127.01, Bronx County, New York se50 18 plower 32 phigher 68
Census Tract 64, Bronx County, New York se50 13 plower 37 phigher 63
Census Tract 397, Bronx County, New York se50 16 plower 34 phigher 66
Census Tract 153, Bronx County, New York se50 12 plower 38 phigher 62
Census Tract 77, Bronx County, New York se50 23 plower 27 phigher 73
Census Tract 89, Bronx County, New York se50 14 plower 36 phigher 64
Census Tract 365.02, Bronx County, New York se50 21 plower 29 phigher 71
Census Tract 181.01, Bronx County, New York se50 14 plower 36 phigher 64
Census Tract 227.03, Bronx County, New York se50 23 plower 27 phigher 73
Census Tract 169, Bronx County, New York se50 18 plower 32 phigher 68
Census Tract 37, Bronx County, New York se50 31 plower 19 phigher 81
Census Tract 73, Bronx County, New York se50 13 plower 37 phigher 63
Census Tract 179.02, Bronx County, New York se50 17 plower 33 phigher 67
Census Tract 155, Bronx County, New York se50 13 plower 37 phigher 63
Census Tract 245.01, Bronx County, New York se50 15 plower 35 phigher 65
Census Tract 50.01, Bronx County, New York se50 13 plower 37 phigher 63
Census Tract 237.02, Bronx County, New York se50 29 plower 21 phigher 79
Census Tract 165, Bronx County, New York se50 27 plower 23 phigher 77
Census Tract 227.02, Bronx County, New York se50 20 plower 30 phigher 70
Census Tract 56, Bronx County, New York se50 15 plower 35 phigher 65
Census Tract 27.01, Bronx County, New York se50 14 plower 36 phigher 64
Census Tract 84, Bronx County, New York se50 25 plower 25 phigher 75
Census Tract 161, Bronx County, New York se50 10 plower 40 phigher 60
Census Tract 378, Bronx County, New York se50 17 plower 33 phigher 67
Census Tract 51, Bronx County, New York se50 12 plower 38 phigher 62
Census Tract 205.02, Bronx County, New York se50 13 plower 37 phigher 63
Census Tract 60, Bronx County, New York se50 30 plower 20 phigher 80
Census Tract 284, Bronx County, New York se50 103 plower -53 phigher 153
Census Tract 135, Bronx County, New York se50 14 plower 36 phigher 64
Census Tract 117, Bronx County, New York se50 19 plower 31 phigher 69
Census Tract 369.02, Bronx County, New York se50 19 plower 31 phigher 69
Census Tract 35, Bronx County, New York se50 13 plower 37 phigher 63
Census Tract 121.02, Bronx County, New York se50 27 plower 23 phigher 77
Census Tract 159, Bronx County, New York se50 21 plower 29 phigher 71
Census Tract 435, Bronx County, New York se50 61 plower -11 phigher 111
Census Tract 231, Bronx County, New York se50 21 plower 29 phigher 71
Census Tract 110, Bronx County, New York se50 91 plower -41 phigher 141
Census Tract 87, Bronx County, New York se50 11 plower 39 phigher 61
Census Tract 27.02, Bronx County, New York se50 13 plower 37 phigher 63
Census Tract 363, Bronx County, New York se50 12 plower 38 phigher 62
Census Tract 96, Bronx County, New York se50 20 plower 30 phigher 70
Census Tract 62, Bronx County, New York se50 11 plower 39 phigher 61
Census Tract 348, Bronx County, New York se50 12 plower 38 phigher 62
Census Tract 215.02, Bronx County, New York se50 11 plower 39 phigher 61
Census Tract 147.02, Bronx County, New York se50 16 plower 34 phigher 66
Census Tract 237.03, Bronx County, New York se50 17 plower 33 phigher 67
Census Tract 243, Bronx County, New York se50 11 plower 39 phigher 61
Census Tract 209, Bronx County, New York se50 11 plower 39 phigher 61
Census Tract 221.01, Bronx County, New York se50 18 plower 32 phigher 68
Census Tract 1214, Kings County, New York se50 13 plower 37 phigher 63
Census Tract 892, Kings County, New York se50 11 plower 39 phigher 61

Census Tract 990, Kings County, New York se50 28 plower 22 phigher 78
Census Tract 912, Kings County, New York se50 8 plower 42 phigher 58
Census Tract 539, Kings County, New York se50 22 plower 28 phigher 72
Census Tract 1176.01, Kings County, New York se50 19 plower 31 phigher 69
Census Tract 1106, Kings County, New York se50 11 plower 39 phigher 61
Census Tract 1132, Kings County, New York se50 24 plower 26 phigher 74
Census Tract 1144, Kings County, New York se50 19 plower 31 phigher 69
Census Tract 1188, Kings County, New York se50 13 plower 37 phigher 63
Census Tract 1158, Kings County, New York se50 16 plower 34 phigher 66
Census Tract 1126, Kings County, New York se50 12 plower 38 phigher 62
Census Tract 450, Kings County, New York se50 39 plower 11 phigher 89
Census Tract 418, Kings County, New York se50 18 plower 32 phigher 68
Census Tract 1124, Kings County, New York se50 12 plower 38 phigher 62
Census Tract 1198, Kings County, New York se50 14 plower 36 phigher 64
Census Tract 1174, Kings County, New York se50 22 plower 28 phigher 72
Census Tract 1160, Kings County, New York se50 14 plower 36 phigher 64
Census Tract 382, Kings County, New York se50 11 plower 39 phigher 61
Census Tract 1134, Kings County, New York se50 17 plower 33 phigher 67
Census Tract 214, Kings County, New York se50 32 plower 18 phigher 82
Census Tract 480, Kings County, New York se50 15 plower 35 phigher 65
Census Tract 898, Kings County, New York se50 18 plower 32 phigher 68
Census Tract 259.02, Kings County, New York se50 16 plower 34 phigher 66
Census Tract 120, Kings County, New York se50 34 plower 16 phigher 84
Census Tract 932, Kings County, New York se50 25 plower 25 phigher 75
Census Tract 590, Kings County, New York se50 22 plower 28 phigher 72
Census Tract 876, Kings County, New York se50 15 plower 35 phigher 65
Census Tract 1190, Kings County, New York se50 20 plower 30 phigher 70
Census Tract 1170, Kings County, New York se50 32 plower 18 phigher 82
Census Tract 916, Kings County, New York se50 10 plower 40 phigher 60
Census Tract 464, Kings County, New York se50 24 plower 26 phigher 74
Census Tract 744, Kings County, New York se50 44 plower 6 phigher 94
Census Tract 420, Kings County, New York se50 27 plower 23 phigher 77
Census Tract 906, Kings County, New York se50 10 plower 40 phigher 60
Census Tract 537, Kings County, New York se50 40 plower 10 phigher 90
Census Tract 232, Kings County, New York se50 18 plower 32 phigher 68
Census Tract 852, Kings County, New York se50 91 plower -41 phigher 141
Census Tract 1128, Kings County, New York se50 11 plower 39 phigher 61
Census Tract 1142.01, Kings County, New York se50 23 plower 27 phigher 73
Census Tract 23, Kings County, New York se50 12 plower 38 phigher 62
Census Tract 545, Kings County, New York se50 12 plower 38 phigher 62
Census Tract 910, Kings County, New York se50 8 plower 42 phigher 58
Census Tract 1172.01, Kings County, New York se50 24 plower 26 phigher 74
Census Tract 301, Kings County, New York se50 16 plower 34 phigher 66
Census Tract 1118, Kings County, New York se50 14 plower 36 phigher 64
Census Tract 918, Kings County, New York se50 14 plower 36 phigher 64
Census Tract 1152, Kings County, New York se50 14 plower 36 phigher 64
Census Tract 920, Kings County, New York se50 12 plower 38 phigher 62
Census Tract 888, Kings County, New York se50 13 plower 37 phigher 63
Census Tract 734, Kings County, New York se50 29 plower 21 phigher 79
Census Tract 340, Kings County, New York se50 17 plower 33 phigher 67
Census Tract 1202, Kings County, New York se50 26 plower 24 phigher 76
Census Tract 1110, Kings County, New York se50 14 plower 36 phigher 64
Census Tract 1182.01, Kings County, New York se50 19 plower 31 phigher 69
Census Tract 902, Kings County, New York se50 15 plower 35 phigher 65
Census Tract 1122, Kings County, New York se50 17 plower 33 phigher 67
Census Tract 752, Kings County, New York se50 41 plower 9 phigher 91
Census Tract 1178, Kings County, New York se50 28 plower 22 phigher 78
Census Tract 85, Kings County, New York se50 8 plower 42 phigher 58
Census Tract 908, Kings County, New York se50 11 plower 39 phigher 61
Census Tract 808, Kings County, New York se50 19 plower 31 phigher 69
Census Tract 924, Kings County, New York se50 15 plower 35 phigher 65
Census Tract 1186, Kings County, New York se50 24 plower 26 phigher 74
Census Tract 1156, Kings County, New York se50 11 plower 39 phigher 61
Census Tract 299, Kings County, New York se50 16 plower 34 phigher 66
Census Tract 118, Kings County, New York se50 30 plower 20 phigher 80
Census Tract 299, New York County, New York se50 11 plower 39 phigher 61
Census Tract 186, New York County, New York se50 11 plower 39 phigher 61
Census Tract 2.01, New York County, New York se50 15 plower 35 phigher 65
Census Tract 20, New York County, New York se50 9 plower 41 phigher 59
Census Tract 25, New York County, New York se50 9 plower 41 phigher 59
Census Tract 192, New York County, New York se50 14 plower 36 phigher 64
Census Tract 243.02, New York County, New York se50 10 plower 40 phigher 60
Census Tract 102, New York County, New York se50 54 plower -4 phigher 104
Census Tract 201.01, New York County, New York se50 23 plower 27 phigher 73

In [169]:
df['mdemftwrke'] = df.apply(lambda row: get_median(mdemftwrk, row), axis=1)
df['mdemftwrkm'] = df.apply(lambda row: get_median_moe(mdemftwrk, row, DF=design_factor['mdemftwrk']), axis=1)
df['mdemftwrkz'] = np.nan
df['mdemftwrkp'] = np.nan

QN99 se50 52 plower -2 phigher 102
Census Tract 426, Queens County, New York se50 97 plower -47 phigher 147
Census Tract 1385.02, Queens County, New York se50 119 plower -69 phigher 169
Census Tract 561, Queens County, New York se50 69 plower -19 phigher 119
Census Tract 1283, Queens County, New York se50 103 plower -53 phigher 153
Census Tract 50, Queens County, New York se50 55 plower -5 phigher 105
Census Tract 613.02, Queens County, New York se50 146 plower -96 phigher 196
Census Tract 504, Bronx County, New York se50 57 plower -7 phigher 107
Census Tract 435, Bronx County, New York se50 119 plower -69 phigher 169
Census Tract 110, Bronx County, New York se50 53 plower -3 phigher 103
Census Tract 702.02, Kings County, New York se50 73 plower -23 phigher 123
Census Tract 352, Kings County, New York se50 55 plower -5 phigher 105
Census Tract 808, Kings County, New York se50 57 plower -7 phigher 107
Census Tract 94, New York County, New York se50 119 plower -69 phigher 169

In [170]:
df['mdefftwrke'] = df.apply(lambda row: get_median(mdefftwrk, row), axis=1)
df['mdefftwrkm'] = df.apply(lambda row: get_median_moe(mdefftwrk, row, DF=design_factor['mdefftwrk']), axis=1)
df['mdefftwrkz'] = np.nan
df['mdefftwrkp'] = np.nan

BX98 se50 56 plower -6 phigher 106
MN99 se50 119 plower -69 phigher 169
QN99 se50 69 plower -19 phigher 119
Census Tract 561, Queens County, New York se50 78 plower -28 phigher 128
Census Tract 607.01, Queens County, New York se50 81 plower -31 phigher 131
Census Tract 1283, Queens County, New York se50 146 plower -96 phigher 196
Census Tract 613.02, Queens County, New York se50 103 plower -53 phigher 153
Census Tract 219, Queens County, New York se50 146 plower -96 phigher 196
Census Tract 228, Richmond County, New York se50 56 plower -6 phigher 106
Census Tract 1, Bronx County, New York se50 56 plower -6 phigher 106
Census Tract 319, Bronx County, New York se50 45 plower 5 phigher 95
Census Tract 37, Bronx County, New York se50 61 plower -11 phigher 111
Census Tract 504, Bronx County, New York se50 130 plower -80 phigher 180
Census Tract 284, Bronx County, New York se50 84 plower -34 phigher 134
Census Tract 435, Bronx County, New York se50 56 plower -6 phigher 106
Census Tract 110, Bronx County, New York se50 84 plower -34 phigher 134
Census Tract 24, Bronx County, New York se50 50 plower 0 phigher 100
Census Tract 18, Kings County, New York se50 69 plower -19 phigher 119
Census Tract 702.02, Kings County, New York se50 146 plower -96 phigher 196
Census Tract 352, Kings County, New York se50 56 plower -6 phigher 106
Census Tract 852, Kings County, New York se50 97 plower -47 phigher 147
Census Tract 808, Kings County, New York se50 61 plower -11 phigher 111
Census Tract 240, New York County, New York se50 119 plower -69 phigher 169
Census Tract 102, New York County, New York se50 54 plower -4 phigher 104
Census Tract 113, New York County, New York se50 64 plower -14 phigher 114
Census Tract 96, New York County, New York se50 53 plower -3 phigher 103
Census Tract 217.03, New York County, New York se50 146 plower -96 phigher 196

In [171]:
df[['mdhhince', 'name', 'geo_id']].head()

       mdhhince  name geo_id
0  64015.219027  BX31   BX31
1  35410.468349  BX05   BX05
2  27349.957265  BX06   BX06
3  36670.003671  BX07   BX07
4  22926.001984  BX01   BX01

In [372]:
df['percapince'] = df['agip15ple']/df['pop_6e']
df['percapincm'] = np.sqrt(df['agip15plm']**2 + (df['agip15ple']*df['pop_6m']/df['pop_6e'])**2)*df['pop_6e']
df['percapincz'] = np.nan
df['percapincp'] = np.nan

In [378]:
df['mntrvtme'] = df['agttme']/(df['wrkr16ple']-df['cw_wrkdhme'])
df['mntrvtmm'] = 1/df['wrkrnothme']*np.sqrt(df['agttmm']**2+(df['agttme']*df['wrkrnothmm']/df['wrkrnothme'])**2)
df['mntrvtmz'] = np.nan
df['mntrvtmp'] = np.nan

In [387]:
df['mnhhince'] = df['aghhince']/df['hh2e']
df['mnhhincm'] = 1/df['hh5e']*np.sqrt(df['aghhincm']**2+(df['aghhince']*df['hh5m']/df['hh5e'])**2)
df['mnhhincz'] = np.nan
df['mnhhincp'] = np.nan

In [406]:
df['cni1864_2z'] = np.nan
df['cni1864_2p'] = np.nan
df['cvlf18t64p'] = np.nan
df['cvlf18t64z'] = np.nan

# Housing

* missing `rntvace|RntVacE` as a column --> update: change to `RntVacUE`

In [9]:
def hovacrtm(hovacue, vacsalee, vacsalem, hovacum):
    if hovacue == 0:
        return 0
    elif vacsalee == 0:
        return 0
    elif vacsalem**2 - (vacsalee*hovacum/hovacue)**2 <0:
        return math.sqrt(vacsalem**2 + (vacsalee*hovacum/hovacue)**2)/hovacue*100
    else: 
        return math.sqrt(vacsalem**2 - (vacsalee*hovacum/hovacue)**2)/hovacue*100

In [10]:
df = pd.read_csv('data/hous_final.csv', index_col=False)
df.columns = map(str.lower, df.columns)

In [11]:
df['hovacrte'] = 100*df['hovacue']/df['vacsalee']
df['hovacrtm'] = df.apply(lambda row: hovacrtm(row['hovacue'], row['vacsalee'], row['vacsalem'], row['hovacum']), axis=1)
df['hovacrtz'] = np.nan
df['hovacrtp'] = np.nan

In [12]:
df['rntvacrte'] = 100*df['vacrnte']/df['rntvacue']
df['hovacrtm'] = df.apply(lambda row: hovacrtm(row['hovacue'], row['vacsalee'], row['vacsalem'], row['hovacum']), axis=1)
df['rntvacrtz'] = np.nan
df['rntvacrtp'] = np.nan

In [13]:
df['avghhsooce'] = df['popoochue']/df['oochu1e']
df['avghhsoocm'] = (df['popoochum']**2 + (df['popoochue']*df['oochu4m']/df['oochu4e'])**2)**0.5/df['oochu4e']
df['avghhsoocz'] = np.nan
df['avghhsoocp'] = np.nan

In [14]:
df['avghhsroce'] = df['poprtochue']/df['rochu1e']
df['avghhsrocm'] = (df['poprtochum']**2 + (df['poprtochue']*df['rochu2m']/df['rochu2e'])**2)**0.5/df['rochu2e']
df['avghhsrocz'] = np.nan
df['avghhsrocp'] = np.nan

In [16]:
df['mdrmse'] = df.apply(lambda row: get_median(mdrms, row), axis=1)
df['mdrmsm'] = df.apply(lambda row: get_median_moe(mdrms, row, DF=design_factor['mdrms']), axis=1)
df['mdrmsz'] = np.nan
df['mdrmsp'] = np.nan

KeyError: ('mdrms', 'occurred at index 0')

# Social

* column `fams3m` missing --> update: change to `fam3m`

In [221]:
df = pd.read_csv('data/soci_final.csv', index_col=False)
df.columns = map(str.lower, df.columns)

In [41]:
df['avghhsze'] = df['hhpop1e']/df['hh1e']
df['avghhszm'] = (df['hhpop1m']**2 + (df['hh4m']*df['hhpop1e']/df['hh4e'])**2)**0.5/df['hh4e']
df['avghhszz'] = np.nan
df['avghhszp'] = np.nan

In [133]:
df['avgfmsze'] = df['popinfmse']/df['fam1e']
df['avgfmszm'] = (df['popinfmsm']**2 + (df['fam3m']*df['popinfmse']/df['fam3e'])**2)**0.5/df['fam3e']
df['avgfmszz'] = np.nan
df['avgfmszp'] = np.nan

In [206]:
'IF(AvgFmSzE="","",1/Fams3E*SQRT((PopInFmsM)^2+(PopInFmsE/Fams3E)^2*(Fams3M)^2))'.lower()

'if(avgfmsze="","",1/fams3e*sqrt((popinfmsm)^2+(popinfmse/fams3e)^2*(fams3m)^2))'

In [ ]:
1/fams3e* sqrt((popinfmsm)^2+(popinfmse/fams3e)^2*(fams3m)^2)

In [215]:
fam3e = 396
fam3m =110
popinfmsm = 381
popinfmse = 1206

In [219]:
((popinfmsm)**2 + (popinfmse*fam3m/fam3e)**2)**0.5/fam3e

1.2811420158630789

In [226]:
(df['popinfmsm']**2 + (df['fam3m']*df['popinfmse']/df['fam3e'])**2)**0.5/df['fam3e']

2361    1.281983
dtype: float64

In [224]:
df = df.loc[(df.geoid == '1019702')]

In [227]:
df['popinfmse']/df['fam1e']

2361    3.045455
dtype: float64