In [1]:
import requests
import pandas as pd
import numpy as np
import functools 
import math
import json

In [10]:
df = pd.read_csv('data/demo_final.csv', index_col=False)

https://github.com/NYCPlanning/labs-factfinder-api/blob/develop/special-calculations/data/bins.js

In [279]:
mdage = {'MdPop0t4': [0, 5],
 'MdPop10t14': [10, 15],
 'MdPop15t17': [15, 18],
 'MdPop18t19': [18, 20],
 'MdPop20': [20, 21],
 'MdPop21': [21, 22],
 'MdPop22t24': [22, 25],
 'MdPop25t29': [25, 30],
 'MdPop30t34': [30, 35],
 'MdPop35t39': [35, 40],
 'MdPop40t44': [40, 45],
 'MdPop45t49': [45, 50],
 'MdPop50t54': [50, 55],
 'MdPop55t59': [55, 60],
 'MdPop5t9': [5, 10],
 'MdPop60t61': [60, 62],
 'MdPop62t64': [62, 65],
 'MdPop65t66': [65, 67],
 'MdPop67t69': [67, 70],
 'MdPop70t74': [70, 75],
 'MdPop75t79': [75, 80],
 'MdPop80t84': [80, 85],
 'MdPop85pl': [85, np.inf]}

mdhhinc = {'mdhhiu10': [0, 9999],
 'mdhhi10t14': [10000, 14999],
 'mdhhi15t19': [15000, 19999],
 'mdhhi20t24': [20000, 24999],
 'mdhhi25t29': [25000, 29999],
 'mdhhi30t34': [30000, 34999],
 'mdhhi35t39': [35000, 39999],
 'mdhhi40t44': [40000, 44999],
 'mdhhi45t49': [45000, 49999],
 'mdhhi50t59': [50000, 59999],
 'mdhhi60t74': [60000, 74999],
 'mdhhi75t99': [75000, 99999],
 'mdhi100t124': [100000, 124999],
 'mdhi125t149': [125000, 149999],
 'mdhi150t199': [150000, 199999],
 'mdhhi200pl': [200000, 9999999]}

mdfaminc = {'mdfamiu10': [0, 9999],
 'mdfami10t14': [10000, 14999],
 'mdfami15t19': [15000, 19999],
 'mdfami20t24': [20000, 24999],
 'mdfami25t29': [25000, 29999],
 'mdfami30t34': [30000, 34999],
 'mdfami35t39': [35000, 39999],
 'mdfami40t44': [40000, 44999],
 'mdfami45t49': [45000, 49999],
 'mdfami50t59': [50000, 59999],
 'mdfami60t74': [60000, 74999],
 'mdfami75t99': [75000, 99999],
 'mdfi100t124': [100000, 124999],
 'mdfi125t149': [125000, 149999],
 'mdfi150t199': [150000, 199999],
 'mdfami200pl': [200000, 9999999]}

mdnfinc = {'nfmiu10': [0, 9999],
 'nfmi10t14': [10000, 14999],
 'nfmi15t19': [15000, 19999],
 'nfmi20t24': [20000, 24999],
 'nfmi25t29': [25000, 29999],
 'nfmi30t34': [30000, 34999],
 'nfmi35t39': [35000, 39999],
 'nfmi40t44': [40000, 44999],
 'nfmi45t49': [45000, 49999],
 'nfmi50t59': [50000, 59999],
 'nfmi60t74': [60000, 74999],
 'nfmi75t99': [75000, 99999],
 'nf100t124': [100000, 124999],
 'nf125t149': [125000, 149999],
 'nf150t199': [150000, 199999],
 'nfi200pl': [200000, 9999999]}

mdewrk = {'ernu2pt5k': [0, 2499],
 'ern2pt5t5': [2500, 4999],
 'ern5t7pt5': [5000, 7499],
 'e7pt5t10': [7500, 9999],
 'e10t12pt5': [10000, 12499],
 'e12pt5t15': [12500, 14999],
 'e15t17pt5': [15000, 17499],
 'e17pt5t20': [17500, 19999],
 'e20t22pt5': [20000, 22499],
 'e22pt5t25': [22500, 24999],
 'ern25t30': [25000, 29999],
 'ern30t35': [30000, 34999],
 'ern35t40': [35000, 39999],
 'ern40t45': [40000, 44999],
 'ern45t50': [45000, 49999],
 'ern50t55': [50000, 54999],
 'ern55t65': [55000, 64999],
 'ern65t75': [65000, 74999],
 'ern75t100': [75000, 99999],
 'ern100pl': [100000, 250000]}

mdemftwrk = {'mftu2pt5k': [0, 2499],
 'mft2p5t5': [2500, 4999],
 'mft5t7p5': [5000, 7499],
 'mft7p5t10': [7500, 9999],
 'mf10t12p5': [10000, 12499],
 'mf12p5t15': [12500, 14999],
 'mf15t17p5': [15000, 17499],
 'mf17p5t20': [17500, 19999],
 'mf20t22p5': [20000, 22499],
 'mf22p5t25': [22500, 24999],
 'mft25t30': [25000, 29999],
 'mft30t35': [30000, 34999],
 'mft35t40': [35000, 39999],
 'mft40t45': [40000, 44999],
 'mft45t50': [45000, 49999],
 'mft50t55': [50000, 54999],
 'mft55t65': [55000, 64999],
 'mft65t75': [65000, 74999],
 'mft75t100': [75000, 99999],
 'mft100pl': [100000, 250000]}

mdefftwrk= {'fftu2pt5k': [0, 2499],
 'fft2p5t5': [2500, 4999],
 'fft5t7p5': [5000, 7499],
 'fft7p5t10': [7500, 9999],
 'ff10t12p5': [10000, 12499],
 'ff12p5t15': [12500, 14999],
 'ff15t17p5': [15000, 17499],
 'ff17p5t20': [17500, 19999],
 'ff20t22p5': [20000, 22499],
 'ff22p5t25': [22500, 24999],
 'fft25t30': [25000, 29999],
 'fft30t35': [30000, 34999],
 'fft35t40': [35000, 39999],
 'fft40t45': [40000, 44999],
 'fft45t50': [45000, 49999],
 'fft50t55': [50000, 54999],
 'fft55t65': [55000, 64999],
 'fft65t75': [65000, 74999],
 'fft75t100': [75000, 99999],
 'fft100pl': [100000, 250000]}

In [281]:
k = {}
for i in a: 
    k[i[0]] = i[1]

In [282]:
k

{'fftu2pt5k': [0, 2499],
 'fft2p5t5': [2500, 4999],
 'fft5t7p5': [5000, 7499],
 'fft7p5t10': [7500, 9999],
 'ff10t12p5': [10000, 12499],
 'ff12p5t15': [12500, 14999],
 'ff15t17p5': [15000, 17499],
 'ff17p5t20': [17500, 19999],
 'ff20t22p5': [20000, 22499],
 'ff22p5t25': [22500, 24999],
 'fft25t30': [25000, 29999],
 'fft30t35': [30000, 34999],
 'fft35t40': [35000, 39999],
 'fft40t45': [40000, 44999],
 'fft45t50': [45000, 49999],
 'fft50t55': [50000, 54999],
 'fft55t65': [55000, 64999],
 'fft65t75': [65000, 74999],
 'fft75t100': [75000, 99999],
 'fft100pl': [100000, 250000]}

In [231]:
def get_median(buckets, row):
    ordered = sorted(list(buckets.keys()))
    orderedE = [i+'E' for i in ordered]
    N = row[orderedE].sum()
    C = 0
    i = 0
    while C <= N/2 and i<len(buckets.keys())-1:
        C += int(row[orderedE[i]])
        i += 1
    i = i-1
    if C == 0:
        return 0
    else: 
        C = C - int(row[orderedE[i]])
        L = buckets[ordered[i]][0]
        F = int(row[orderedE[i]])
        W = buckets[ordered[i]][1] - buckets[ordered[i]][0]
        median = L + (N/2 - C)*W/F
        return median

In [232]:
df['MdAge'] = df.apply(lambda row: get_median(MdAge_buckets, row), axis=1)

In [251]:
df = pd.read_csv('data/econ_final.csv', index_col=False)

In [252]:
with open('data/econ_meta_lookup.json', 'r') as f:
    meta_lookup = json.load(f)

In [ ]:
meta_lookup.keys()

In [283]:
[i for i in meta_lookup.keys() if 'mdfami75t99' in i.lower()]

['mdFamI75t99']

In [250]:
meta_lookup['PerCapInc']

['DP03_0088']

In [256]:
df[['MdFamIncE']]

         MdFamIncE
0     8.727040e+05
1     3.933880e+05
2     1.664010e+05
3     3.464060e+05
4     2.151830e+05
5     1.721970e+05
6     1.693370e+05
7     4.735660e+05
8     3.569380e+05
9     5.516000e+05
10    1.364140e+05
11    2.268880e+05
12    2.094470e+05
13    2.646000e+05
14    1.665820e+05
15    2.627440e+05
16    2.694330e+05
17    3.958220e+05
18    4.446930e+05
19   -6.658174e+08
20    2.451560e+05
21   -2.666531e+09
22    2.772970e+05
23    4.990350e+05
24    6.033690e+05
25   -6.666667e+08
26   -6.655279e+08
27    3.267240e+05
28    5.827350e+05
29    8.889900e+05
...            ...
2450  1.795160e+05
2451  1.046280e+05
2452  9.320300e+04
2453  5.957100e+04
2454  3.580900e+04
2455  2.887300e+04
2456  3.215500e+04
2457  5.648000e+04
2458  2.898800e+04
2459  4.232900e+04
2460  6.678500e+04
2461  7.404200e+04
2462  3.069400e+04
2463  7.576100e+04
2464  4.885600e+04
2465  1.508880e+05
2466  4.964600e+04
2467  1.037870e+05
2468  8.143700e+04
2469  7.163600e+04
2470  5.924000e+04
2471  4.489800e+04
2472  4.642100e+04
2473  5.281300e+04
2474  6.060600e+04
2475  5.469100e+04
2476  7.235300e+04
2477  6.711500e+04
2478  7.511500e+04
2479  9.215200e+04

[2480 rows x 1 columns]