In [6]:
import pandas as pd
import json
import numpy as np

In [2]:
df = pd.read_csv('data/demo_final.csv', index_col=False)

In [3]:
df.head()

,Pop25t29E,Pop25t29M,Pop25t29P,Pop25t29Z,Pop25t29C,Pop40t44E,Pop40t44M,Pop40t44P,Pop40t44Z,Pop40t44C,...,AsnOkinwP,AsnOkinwZ,AsnOkinwC,Asn1RcE,Asn1RcM,Asn1RcP,Asn1RcZ,Asn1RcC,GEO_ID,NAME
0,2310.0,370.905648,7.190214,1.120307,9.760803,2216.0,287.956594,6.897625,0.855446,7.899350,...,0.0,NaN,NaN,3165.0,551.238605,100.0,NaN,10.587661,BX31,BX31
1,5404.0,652.869819,9.362764,1.093873,7.344214,3732.0,483.424244,6.465921,0.813614,7.874462,...,0.0,NaN,NaN,2324.0,443.419666,100.0,NaN,11.598796,BX05,BX05
2,2928.0,538.426411,9.763254,1.733736,11.178651,1500.0,295.978040,5.001667,0.957573,11.995057,...,0.0,NaN,NaN,548.0,203.592731,100.0,NaN,22.584777,BX06,BX06
3,3444.0,489.737685,9.043405,1.236867,8.644393,2470.0,375.532955,6.485834,0.953231,9.242409,...,0.0,NaN,NaN,1186.0,366.243089,100.0,NaN,18.772359,BX07,BX07
4,2976.0,453.673892,8.299866,1.211234,9.267124,2245.0,394.908850,6.261156,1.066245,10.693371,...,0.0,NaN,NaN,50.0,47.423623,100.0,NaN,57.657900,BX01,BX01

In [4]:
df.shape

(2480, 792)

In [7]:
with open('data/demo_meta_lookup.json', 'r') as f:
    meta_lookup = json.load(f)

In [9]:
var = list(meta_lookup.keys())

In [29]:
r = []
for i in var: 
    cols = ['GEO_ID', 'NAME', i+'C', i+'E', i+'M', i+'P', i+'Z']
    dff = df.loc[:, cols]
    dff.columns=['geoid', 'geoname', 'c', 'e', 'm', 'p', 'z']
    dff['variable'] = i
    r.append(dff)

In [30]:
result = pd.concat(r)

In [31]:
result.shape

(391840, 8)

In [32]:
result.head()

  geoid geoname          c       e           m         p         z  variable
0  BX31    BX31   9.760803  2310.0  370.905648  7.190214  1.120307  Pop25t29
1  BX05    BX05   7.344214  5404.0  652.869819  9.362764  1.093873  Pop25t29
2  BX06    BX06  11.178651  2928.0  538.426411  9.763254  1.733736  Pop25t29
3  BX07    BX07   8.644393  3444.0  489.737685  9.043405  1.236867  Pop25t29
4  BX01    BX01   9.267124  2976.0  453.673892  8.299866  1.211234  Pop25t29

In [34]:
result.to_csv('data/demo_final_pivoted.csv')

### Spot checking

In [5]:
#estimate, sex and age - total population
g = 'Pop25t29'
df[df['GEO_ID']=='BK69'][[g+'E', g+'M', g+'C', g+'P', g+'Z']]

    Pop25t29E   Pop25t29M  Pop25t29C  Pop25t29P  Pop25t29Z
51     4617.0  466.293899   6.139513  11.970754   1.135794