In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/demo_final.csv', index_col=False)

### Spot checking

In [6]:
#estimate, sex and age - total population
g = 'B01001_001'
df[df['GEO_ID']=='BK69'][[g+'E', g+'M', g+'C', g+'P', g+'Z']]

    B01001_001E  B01001_001M  B01001_001C  B01001_001P  B01001_001Z
51      38569.0  1334.753535          NaN          100          NaN