In [23]:
import pandas as pd

In [59]:
df = pd.read_csv('data/soci_final_pivoted.csv', index_col=False, low_memory=False)

In [61]:
df.loc[(df.geoid == '1019702')&(df.variable == 'avgfmsz')]

,geotype,geogname,geoid,dataset,variable,c,e,m,p,z
731684,CT2010,MN11,1019702,Y2013-2017,avgfmsz,25.589643,3.0454545454545454,1.281983,NaN,NaN

69449.8448

In [58]:
df[(df.geotype == 'CT2010')&(df.variable == 'mdfaminc')]

Empty DataFrame
Columns: [geotype, geogname, geoid, dataset, variable, c, e, m, p, z]
Index: []