In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('data/demo_final_pivoted.csv', index_col=False, low_memory=False)

In [19]:
df[(df.geoid == '1018400')&(df.variable == 'mdage')]

,geotype,geogname,geoid,c,e,m,p,z,variable,dataset
265301,CT2010,MN34,1018400,4.565651,37.75959595959596,2.835933,NaN,NaN,mdage,Y2013-2017

In [16]:
df[df.geotype == 'CT2010']

,geotype,geogname,geoid,c,e,m,p,z,variable,dataset
257,CT2010,QN08,4042600,NaN,0.0,15.556349,0.000000,NaN,mdpop20,Y2013-2017
258,CT2010,QN08,4033401,41.304628,81.0,55.036352,2.222222,1.494233,mdpop20,Y2013-2017
259,CT2010,QN21,4050500,64.620947,10.0,10.630146,0.668003,0.703463,mdpop20,Y2013-2017
260,CT2010,QN53,4001200,43.339076,51.0,36.359318,1.161202,0.817401,mdpop20,Y2013-2017
261,CT2010,QN51,4104700,80.670292,29.0,38.483763,0.421389,0.557061,mdpop20,Y2013-2017
262,CT2010,QN19,4062300,74.762151,20.0,24.596748,0.935891,1.147208,mdpop20,Y2013-2017
263,CT2010,QN63,4026100,43.575525,180.0,129.027129,2.444324,1.724845,mdpop20,Y2013-2017
264,CT2010,QN12,4094202,57.442549,55.0,51.971146,1.191250,1.117930,mdpop20,Y2013-2017
265,CT2010,QN21,4065501,NaN,0.0,15.556349,NaN,NaN,mdpop20,Y2013-2017
266,CT2010,QN26,4040300,76.922369,37.0,46.818800,0.479523,0.604730,mdpop20,Y2013-2017
267,CT2010,QN21,4065703,95.072135,29.0,45.354162,1.013277,1.580389,mdpop20,Y2013-2017
268,CT2010,QN18,4069300,46.995885,48.0,37.107951,1.593625,1.206537,mdpop20,Y2013-2017
269,CT2010,QN17,4073100,50.779996,15.0,12.529964,0.932836,0.772509,mdpop20,Y2013-2017
270,CT2010,QN25,4041500,43.733896,117.0,84.172442,2.734923,1.943589,mdpop20,Y2013-2017
271,CT2010,QN20,4058900,118.033361,10.0,19.416488,0.214133,0.415107,mdpop20,Y2013-2017
272,CT2010,QN57,4006201,59.949640,157.0,154.828938,2.393658,2.344550,mdpop20,Y2013-2017
273,CT2010,QN55,4016600,63.847475,75.0,78.771822,2.092050,2.172472,mdpop20,Y2013-2017
274,CT2010,QN33,4061000,75.471126,22.0,27.313001,1.628423,2.014223,mdpop20,Y2013-2017
275,CT2010,QN53,4064101,53.384799,25.0,21.954498,1.126126,0.984234,mdpop20,Y2013-2017
276,CT2010,QN34,4058000,34.914173,99.0,56.859476,2.597743,1.452693,mdpop20,Y2013-2017
277,CT2010,QN28,4027500,74.337366,64.0,78.262379,0.988722,1.195061,mdpop20,Y2013-2017
278,CT2010,QN29,4048100,146.402366,10.0,24.083189,0.156642,0.376828,mdpop20,Y2013-2017
279,CT2010,QN55,4081400,59.936781,46.0,45.354162,1.107100,1.081420,mdpop20,Y2013-2017
280,CT2010,QN46,4108500,NaN,0.0,15.556349,0.000000,NaN,mdpop20,Y2013-2017
281,CT2010,QN38,4122300,118.033361,10.0,19.416488,0.272480,0.528055,mdpop20,Y2013-2017
282,CT2010,QN34,4055600,158.521639,5.0,13.038405,0.215332,0.561049,mdpop20,Y2013-2017
283,CT2010,QN99,4056100,NaN,0.0,15.556349,0.000000,NaN,mdpop20,Y2013-2017
284,CT2010,QN46,4140901,NaN,0.0,15.556349,0.000000,NaN,mdpop20,Y2013-2017
285,CT2010,QN70,4014300,56.016435,43.0,39.623226,1.055474,0.968777,mdpop20,Y2013-2017
286,CT2010,QN02,4029400,60.724483,43.0,42.953463,0.605890,0.600960,mdpop20,Y2013-2017
...,...,...,...,...,...,...,...,...,...,...
404154,CT2010,MN33,1017402,65.466448,78.0,84.000000,3.052838,3.275556,hspme,Y2013-2017
404155,CT2010,MN12,1016500,97.264438,60.0,96.000000,0.918977,1.467721,hspme,Y2013-2017
404156,CT2010,MN36,1023900,47.171271,491.0,381.000000,15.661882,12.035230,hspme,Y2013-2017
404157,CT2010,MN31,1023802,130.264872,7.0,15.000000,0.264650,0.565729,hspme,Y2013-2017
404158,CT2010,MN99,1029700,NaN,0.0,11.000000,0.000000,NaN,hspme,Y2013-2017
404159,CT2010,MN32,1015400,103.754828,133.0,227.000000,0.873965,1.488892,hspme,Y2013-2017
404160,CT2010,MN15,1013500,51.020408,168.0,141.000000,2.120141,1.770594,hspme,Y2013-2017
404161,CT2010,MN32,1014402,83.586626,24.0,33.000000,0.321457,0.441362,hspme,Y2013-2017
404162,CT2010,MN17,1013100,91.185410,12.0,18.000000,0.436522,0.653627,hspme,Y2013-2017
404163,CT2010,MN17,1010900,182.370821,1.0,3.000000,0.558659,1.665831,hspme,Y2013-2017
404164,CT2010,MN24,1003900,NaN,0.0,16.000000,0.000000,NaN,hspme,Y2013-2017
404165,CT2010,MN23,1007500,97.793049,23.0,37.000000,0.576441,0.926084,hspme,Y2013-2017
404166,CT2010,MN19,1010000,64.366172,17.0,18.000000,0.959910,1.010461,hspme,Y2013-2017
404167,CT2010,MN13,1005200,NaN,0.0,11.000000,0.000000,NaN,hspme,Y2013-2017
404168,CT2010,MN23,1007700,78.802206,54.0,70.000000,0.901352,1.164605,hspme,Y2013-2017
404169,CT2010,MN04,1022900,43.300728,431.0,307.000000,4.908325,3.470620,hspme,Y2013-2017
404170,CT2010,MN24,1004900,49.253433,137.0,111.000000,3.109396,2.501878,hspme,Y2013-2017
404171,CT2010,MN50,1004400,69.950452,219.0,252.000000,1.283028,1.474209,hspme,Y2013-2017
404172,CT2010,MN13,1009700,57.624113,96.0,91.000000,1.834512,1.734630,hspme,Y2013-2017
404173,CT2010,MN32,1014602,51.623486,126.0,107.000000,1.718963,1.449542,hspme,Y2013-2017
404174,CT2010,MN06,1021703,NaN,0.0,11.000000,0.000000,NaN,hspme,Y2013-2017
404175,CT2010,MN36,1024700,53.486451,541.0,476.000000,7.267598,6.351671,hspme,Y2013-2017
404176,CT2010,MN36,1025500,60.428427,168.0,167.000000,2.881152,2.836730,hspme,Y2013-2017
404177,CT2010,MN14,1015700,113.981763,8.0,15.000000,0.081243,0.151913,hspme,Y2013-2017
404178,CT2010,MN28,1000600,NaN,0.0,18.000000,0.000000,NaN,hspme,Y2013-2017
404179,CT2010,MN12,1017700,71.843051,110.0,130.000000,1.156312,1.364180,hspme,Y2013-2017
404180,CT2010,MN99,1000100,NaN,0.0,11.000000,NaN,NaN,hspme,Y2013-2017
404181,CT2010,MN34,1018400,70.369347,165.0,191.000000,2.212093,2.549484,hspme,Y2013-2017
404182,CT2010,MN40,1014801,NaN,0.0,11.000000,0.000000,NaN,hspme,Y2013-2017
404183,CT2010,MN01,1029300,68.522370,228.0,257.000000,2.398990,2.690804,hspme,Y2013-2017