In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('data/econ_final_pivoted.csv', index_col=False)

,Unnamed: 0,geoid,geoname,c,e,m,p,z,variable
0,0,NaN,BX31,5.764347,6402,607.060129,21.095990,1.821734,pu18pvu
1,1,NaN,BX05,4.155365,15361,1050.012857,26.792130,1.633922,pu18pvu
2,2,NaN,BX06,6.212646,7926,810.021605,29.154712,2.572991,pu18pvu
3,3,NaN,BX07,5.522843,8715,791.764485,23.228231,1.904467,pu18pvu
4,4,NaN,BX01,4.769015,11283,885.154789,32.339706,2.108193,pu18pvu