In [69]:
import pandas as pd

In [70]:
df = pd.read_csv('data/soci_final_pivoted.csv', index_col=False, low_memory=False)

In [71]:
df.loc[(df.geoid == '1019702')&(df.variable == 'avgfmsz'), 
       ['c','e','m','p','z']]

               c     e     m   p   z
503922  6.577308  3.05  0.33 NaN NaN

In [73]:
df.loc[(df.geoid == 'QN99')&(df.variable == 'avgfmsz'), 
       ['c','e','m','p','z']]

               c               e             m   p   z
501719 -5.415628  -9333333319.41  8.314794e+08 NaN NaN