In [4]:
import pandas as pd
import json
import sys
import numpy as np
sys.path.append("db-acs/")
from utils import format_geoid

In [36]:
df = pd.read_csv('../data/hous_final_pivoted.csv', index_col=False, low_memory=False)

In [4]:
nta = pd.read_excel('db-acs/data/nyc2010census_tabulation_equiv.xlsx',
                       skiprows=4, dtype=str,
                       names=['borough', 'fips', 'borough_code', 
                              'tract', 'puma', 'nta_code', 'nta_name'])
nta['GEO_ID'] = '1400000US36' + nta['fips'] + nta['tract']

In [51]:
meta = json.load(open('db-acs/data/soci_meta_lookup.json'))

In [64]:
lst = meta['DfHs1']

In [65]:
lst

['B07204_016', 'B07204_003']

In [66]:
df = pd.read_csv('db-acs/data/soci_intermediate.csv', index_col=False, low_memory=False)

In [67]:
df['geoid'] = df['GEO_ID'].apply(format_geoid)

In [69]:
info = df.loc[df.geoid == '1025300', [i+'M' for i in lst]].to_dict('records')

In [70]:
info

[{'B07204_016M': 187.0, 'B07204_003M': 341.0}]

In [72]:
sum([i**2 for i in info[0].values()])**0.5

388.90872965260115

In [49]:
df.loc[df.geoid == '4012601', 'AsnEastM']

211    54.0
Name: AsnEastM, dtype: float64

In [48]:
df = pd.read_csv('db-acs/data/demo_final.csv')
df['geoid'] = df['GEO_ID'].apply(format_geoid)

In [8]:
df.head()

,variablename,producttype,release_year,profile,category,_order,base,unittype,notinprofile,infltnfctr10to16
0,PrdctType,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GeoType,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GeogName,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GeoID,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
d = df.loc[7:, ['variablename', 'base']].to_dict('records')

In [18]:
c = {}

In [19]:
for i in d:
    c[i['variablename']] = i['base']

In [24]:
import json

In [26]:
with open('db-acs/data/base_lookup.json', 'w') as f:
    json.dump(c, f, indent=4)

In [7]:
df = pd.read_csv('db-acs/data/factfinder_metadata.csv')