In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('../data/soci_final_pivoted.csv', index_col=False, low_memory=False)

In [9]:
df.loc[(df.geoid == '1019702')&(df.variable == 'avgfmsz'), 
       ['c','e','m','p','z']]

               c     e     m   p   z
605688  6.577308  3.05  0.33 NaN NaN

In [10]:
df.loc[(df.geoid == 'QN99')&(df.variable == 'avgfmsz'), 
       ['c','e','m','p','z']]

                c                   e         m   p   z
603485  101.02868  2.3823529411764706  3.959284 NaN NaN